# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
*.pyc
staticfiles/
db.sqlite3

# Django
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db